<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio secundario completo</h1> - <h3>2002-2007</h3>
            </li>
            <p>
                Colegio del Sol - 2002
                Colegio Herman Hollerith - 2003-2007
                Polimodal orientacion en Bienes y Servicios
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudios Universitarios Incompletos</h1> - <h3>2009-2012</h3>
            </li>
            <p>
               Carrera de Diseño Industrial en la facultad San Pablo T.
            </p>
        </ul><ul>
            <li>
                <h1>Curso de Ingles</h1> - <h3></h3>
            </li>
            <p>
                Select English Cambridge & London - 2007

            </p>
        </ul>
    </div>

</div>
