<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>La Buena Vida S.R.L</h1> - <h3>2012-2016</h3>
            </li>
            <p>
                Es una empresa agricola ganadera. Desarrolle labores de oficina como el uso de tablas excel y manejo de planillas. Tambien el manejo de viajes de un camion
            </p>
        </ul>
        <ul>
            <li>
                <h1>Carniceria La Buena Vida</h1> - <h3>2016-2018</h3>
            </li>
            <p>
                Estaba a cargo del stock de los productos, como el manejo de la caja registradora.

            </p>
        </ul><ul>
            <li>
                <h1>Gimnacio</h1> - <h3>2019-2021</h3>
            </li>
            <p>
               Fui dueño del gimacio Hellbox. Me encargue del uso de redes y atencion al publico.
            </p>
        </ul>
    </div>

</div>